.bg-color {
  color: #ffffff;
  background-color: #2E3249;
}

.carousel {
    background-color: rgba(255, 255, 255, 0.2);
		max-height: 500px;
}

/*.show-group-info {
  height: 500px;
  background-color: rgba(255, 255, 255, 0.2);
}*/

.carousel-inner > .item > img {
    margin: 0 auto;
		/*width: 80%;*/
		max-width: 700px;
		max-height: 500px;
}

a.left.carousel-control {
  background: none;
}

a.right.carousel-control {
  background: none;
}

.logo {
  width: auto;
  height: 200px;
}
.logo-vote {
	margin-left: 100px;
}
.styled-logo {
	position:relative;
	overflow:hidden;
	display:block;
	width:12em;
	margin:auto;
}

	.styled-select {
	  position:relative;
	  /*border:solid 1px #888888;*/
	  overflow:hidden;
	  display:block;
	  width:12em;
	  margin:auto;
	  font-size:1em; /*use this to scale the select*/
	}

	.styled-select select {
	  width:100%;
	  font-size: .9em;
	  height: 2em;
	  margin: 0;
	  background: rgb(0, 0, 27); /*IE Fallback*/
	  background: rgba(0, 0, 27, 0);
	  color:#888;
	  border:none;
	  outline:none;
	  display: inline-block;
	  -webkit-appearance:none;
	  -moz-appearance:none;
	  appearance:none;
	  cursor:pointer;
	}

	.styled-select select option {
		background-color: #fff;
	}
	.line-select-pop {
		padding-left: 10px;
		background-color: #ffffff;
		border:solid 2px #F0635F;
		border-radius: 12px;
	}
	.line-select-soft {
		padding-left: 10px;
		background-color: #ffffff;
		border:solid 2px #755FA9;
		border-radius: 12px;
	}
	.line-select-hard{
		padding-left: 10px;
		background-color: #ffffff;
		border:solid 2px #66C1B1;
		border-radius: 12px;
	}
	.pop {
		background-color: #F0635F;
	}
	.soft {
		background-color: #755FA9;
	}
	.hard {
		background-color: #66C1B1;
	}
	.styled-select .select-button {
	  right:0; top:0;
	  position:absolute;
	  pointer-events:none;
	  /*text-align: center; vertical-align: middle; */
	  width: 2em; height: 1.8em;
	}

	.styled-select .select-button .select-button-text {
		color: #fff;
		line-height: 1.8em;
		text-align: center;
		display: block;
	}

	.styled-select .select-button .select-button-text span{
		font-size: 1em;
	}


	.small-arrow-down {
		width: 0;
		height: 0;
		border-left: .4em solid transparent;
		border-right: .4em solid transparent;
		border-top: .4em solid #fff;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	.lt-ie10 .styled-select {
		background: #fff;
		border: none;
	}

	.lt-ie10 .styled-select .select-button {
		display: none;
	}

	.submit-btn-size {
		width: 220px;
	}

	.submit-btn {
		background-color: inherit;
		border: none;
		margin-top: 110px;
	}
